<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>

      <main class="container">
        <div class="row">
          <div class="col-8"><h2>All Wikis</h2></div>

        <% if (currentUser) { %>
          <div class="col-4"><a href="/wikis/new" class="btn btn-success">Create New Wiki</a></div>
          </div>
        <% } %>

        <ul class="list-group">
          <% wikis.forEach((wiki) => { %>
            <% if (wiki.private == false) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
              <% } else if (wiki.private == true) { %>
              <% const collaborator = wiki.getCollaboratorFor(currentUser.id) %>
            <% if (currentUser && (currentUser.id == wiki.userId || currentUser.role == 2 || collaborator)) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                  <% wiki.collaborators.forEach((collaborator) => { %>
                    <ul>
                      <li>Collaborator(s): <%- collaborator.User.name %></li>
                    </ul>
                  <% }) %>
                </li>
              <% } %>
            <% } %>
          <% }) %>
        </ul>
    </main>


  </body>
</html>
