<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

        <h1>Public Wikis</h1>

        <% if (currentUser) { %>
          <a href="/wikis/new" class="btn btn-success">Create New Public Wiki</a>
        <% } %>

        <ol class="list-group">
          <% wikis.forEach((wiki) => { %>
            <% if (wiki.private == false) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>

            <% } else if (wiki.private == true) { %>

              <% const collaborator = wiki.getCollaboratorFor(currentUser.id) %>

            <% if (currentUser && (currentUser.id == wiki.userId || currentUser.role == 2 || collaborator)) { %>

              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                  <% wiki.collaborators.forEach((collaborator) => { %>
                <ul>
                  <li>Associated collaborators include: <%- collaborator.User.name %></li>
                </ul>
                  <% }) %>
              </li>

            <% } %>
            <% } %>
          <% }) %>
        </ol>

    </main>
  </body>
</html>
