<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <div class="allwikis-index">
      <main class="container vh-100 shadow">
      <% include ../static/partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>

          <% if (currentUser) { %>

            <div class="mywikis-list">
            <h1 class="text-center">My Activity</h1>
              <table class="table table-hover mt-4 mb-4 w-75 mx-auto">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col">Wiki</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                <% wikis.forEach((wiki) => { %>
                  <% if (currentUser.id == wiki.userId) { %>
                    <tr>
                      <td></td>
                      <td><a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a></td>
                      <td><a href="/wikis/<%= wiki.id %>/edit" class="btn btn-outline-info rounded-pill mr-2 shadow-sm" role="button">Edit </a></td>
                      <td><form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
                        <button type="submit" class="btn btn-outline-dark rounded-pill shadow-sm">Delete</button>
                      </form></td>
                    </tr>
                  <% } %>
                <% }) %>
                </tbody>
              </table>

            <div class="create-wiki-button">
            <div class="container mt-5">
              <div class="row">
                <div class="col">
                  <a class="btn btn-info rounded-pill shadow-lg" href="/wikis/new" role="button"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
            </div>
          </div>

            <div class="allwikis-list">
            <h1 class="text-center mt-5">Browse All Wikis</h1>
              <table class="table table-hover mt-4 w-75 mx-auto">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col">Wiki</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>

                <% wikis.forEach((wiki) => { %>
                  <% if (wiki.private == false) { %>
                    <tr>
                      <td></td>
                      <td><a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a></td>
                      <td><a href="/wikis/<%= wiki.id %>/edit" class="btn btn-outline-info rounded-pill mr-2 shadow-sm" role="button">Edit </a></td>
                      <td><form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
                        <button type="submit" class="btn btn-outline-dark rounded-pill shadow-sm">Delete</button>
                      </form></td>
                    </tr>
                    
                    <% } else if (wiki.private == true) { %>
                    <% const collaborator = wiki.getCollaboratorFor(currentUser.id) %>
                  <% if (currentUser && (currentUser.id == wiki.userId || currentUser.role == 2 || collaborator)) { %>
                    <tr>
                      <td class="text-center"><i class="fas fa-lock"></i></td>
                      <td><a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a></td>
                      <td><a href="/wikis/<%= wiki.id %>/edit" class="btn btn-outline-info rounded-pill mr-2 shadow-sm" role="button">Edit </a></td>
                      <td><form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
                        <button type="submit" class="btn btn-outline-dark rounded-pill shadow-sm">Delete</button>
                      </form></td>
                    </tr>
                    <% } %>
                  <% } %>
                <% }) %>
                </tbody>
              </table>
            </div>

      <% } %>

    </main>
  </div>

  </body>
</html>
