<!--

<% if(collaborator) { %>
 <div style="width: 50%">
   <hr>
   <p>
     <%= collaborator.body %>
   </p>
   <small class="card-subtitle mb-2 text-muted">

     sent by <%= collaborator.User.email %> on <%= collaborator.createdAt %>
   </small>


   <% if(currentUser && currentUser.id === collaborator.userId || currentUser.role == 2) { %>
     <form style="display:initial"
           action="/wikis/<%= wiki.id %>/collaborators/<%= collaborator.id %>/destroy"
           method="post">
       <button type="submit" class="btn btn btn-sm btn-outline-danger">Delete</button>
     </form>
   <% } %>
   <hr>
 </div>
<% } %>
-->
