<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <main class="container vh-100 shadow">
      <% include ../static/partials/navbar.ejs %>
      <div class="show-wiki-page">
        <h1 class="text-center mt-5">Created on: <%= wiki.createdAt %> </h1>
        <div class="row mx-5 mt-2">
          <div class="col">
            <p class="my-5 text-muted">Last updated: <%= wiki.updatedAt %> </p>
            <form action="wikis/create" method="post">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" aria-describedby="titleHelp" value="<%- wiki.title %>" readonly>
              </div>
              <div class="form-group">
                <label for="body">Body</label>
                <textarea rows="4" class="form-control" name="body" readonly><%- wiki.body %></textarea>
              </div>
            </form>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col text-center">
            <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-outline-info rounded-pill mr-2 shadow-sm" role="button">Edit Wiki</a>

            <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
              <button type="submit" class="btn btn-outline-dark rounded-pill shadow-sm">Delete</button>
            </form>
        </div>
      </div>

      </div>
    </main>
    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
